*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 0px;
}

.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3
{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p
{
    max-width: 500px;
    margin: 10px auto;
    /* line-height: 28px; */
    font-size: 16px;
}

.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li
{
    margin: 0 10px;
}

.socials a
{
    text-decoration: none;
    color: #fff;
}

.socials a i
{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i
{
    color: aqua;
}

/* .footer-bottom
{

    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p
{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
} */

.img-wrap
{
    width: 100%;
}

.img-wrap img
{
    width: 100%;
    margin: 25px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px pink;
}

body
{
    height: 100vh;
    display: flex;
}

#aboutus h2
{
    margin-bottom: 25px;
}

h2
{
    text-align: center;
    color: mediumturquoise;
    top: 9%;
    position: relative;
}

#p
{
    color: rgb(85, 81, 81);
    font-size: 17px;
    top: 27%;
    position: absolute;
}

#p2
{
    color: rgb(85, 81, 81);
    font-size: 17px;
    top: 57%;
    position: absolute;
}